@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;

}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5%;

}

header h1 {
    font: normal 6.5vw 'passion one', sans-serif;
    text-transform: uppercase;

}

header span {
    font: bold 1.5em 'passion one', sans-serif;

}

header p {
    font: lighter 1em sans-serif;
}

header a {
    text-decoration: none;
    color: white;
    
}

main {
    background-color: white;
    width: 100%;

}

main section {
    padding: 20px 0px;
    margin: 0px;

}

main {
    font: normal 4vw 'sriracha', cursive;
    line-height: 8vw;

}

.estrofes {
    padding: 3vw;
}

.parallax {
    background-color: rgba(0, 0, 0, 0.349);
    background-size: contain;
    border-radius: 10px;
    padding: 5px;
    margin-left: 3vw;
    width: fit-content;
    color: white;

}

#parallaxJoaninha {
    background: green url(pacote-d012/imagens/background001.jpg) center bottom no-repeat fixed;
    background-size: cover;

}

#parallaxCarta {
    background: grey url(pacote-d012/imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;

}